.main-box-child1 {
  display: flex;
  flex-direction: column;
  right: 10%;
  position: absolute;
  height: 100%;
}
.main-box-parent2 {
  width: 20%;
  border-right: 1px solid #d4d5d9;
  height: 100%;
  padding-right: 10px;
  position: relative;
}
.main-box-child1-items {
  font-weight: 600;
  color: #282c3f;
  cursor: pointer;
  margin: 9px 0;
}
.main-box-child1-items:hover {
  color: #fc8019;
}
